<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="layouts/main_layout" lang="en">

<head>
    <title>Edit User</title>
</head>

<div layout:fragment="page_content">
    <h2>Edit User</h2>

    <form th:action="@{/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" th:field="*{username}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" name="phone" class="form-control" id="phone" th:field="*{phone}">
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>

</div>
